<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item{% if forloop.first %} masthead__menu-item--lg masthead__menu-home-item{% endif %}">
              <a href="{{ domain }}{{ link.url }}" class="nav-link" data-lang-key="{{ link.title }}">
                {% if page.lang == 'zh' %}{{ link.title_zh }}{% else %}{{ link.title }}{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
        <!-- Language Switcher -->
        {% include language-switcher.html %}
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
